.picklist-container,

.lookup-container{
    width : 100%;
    margin: spacingNone;
}

.picklist-container .slds-dropdown,
.lookup-container .slds-dropdown{
    margin-top: 3px;
    margin-bottom: 3px;
    position: relative !important;
    z-index: 9999 !important;
    overflow: visible;
    overflow-y: scroll;
}

th.slds-has-focus, td.slds-has-focus{
    box-shadow: none !important;
}