[app_flexipage-header_header-host]{
    display:none;
}

header.flexipageHeader.slds-page-header.uiBlock.oneAnchorHeader { 
    display: none;
}

div.slds-page-header.header.flexipageHeader {
    display: none;
}